@model GroceryStore.Models.Category
@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1>Create</h1>

    <h4>Category</h4>
    <div class="row border">
        <div class="col-md-4 col-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>

