@model IEnumerable<GroceryStoreOnlineOrdering.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Category Index</h2>
    <div class="text-right">
        <a class="btn btn-primary" asp-action="Create">Create Category</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <div class="btn btn-group text-center w-50">
                            <a class="btn btn-primary mr-2" asp-route-Id="@item.Id" asp-action="Edit">Edit</a>
                            <a class="btn btn-danger" asp-route-Id="@item.Id" asp-action="Delete">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
