
@{
    ViewData["Title"] = "Content Mangement System";
}

<h1>Admin Page</h1>

<div class="btn btn-group mt-4 btn-lg">
    <a class="btn btn-outline-primary mr-1" asp-area="" asp-controller="Category" asp-action="Index">Category Management</a>
    <a class="btn btn-outline-primary" asp-area="" asp-action="">Order Management</a>
</div>
